@page
@model ForgotPasswordConfirmation

@{
    Layout = "LoginLayout";
}


@{
    ViewData["Title"] = "Mail afsendt";
}

<h1>@ViewData["Title"]</h1>
<p>
    Venligst tjek din mail for at nulstille dit kodeord.
</p>

<div class="form-group">
    <hr />
    <p>
        <a asp-page="./Login">Tilbage</a>
    </p>
</div>

